<a href="https://colab.research.google.com/github/fightmeat/Machine_Leaning/blob/main/18_%EB%8C%80%ED%95%9C%EB%AF%BC%EA%B5%AD_%EC%9C%A0%EB%A0%B9_%EB%8F%84%EC%8B%9C_%EB%B6%84%EC%84%9D.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
!sudo apt-get install -y fonts-nanum
!sudo fc-cache -fv
!rm ~/.cache/matplotlib -rf

Reading package lists... Done
Building dependency tree... Done
Reading state information... Done
fonts-nanum is already the newest version (20200506-1).
0 upgraded, 0 newly installed, 0 to remove and 18 not upgraded.
/usr/share/fonts: caching, new cache contents: 0 fonts, 1 dirs
/usr/share/fonts/truetype: caching, new cache contents: 0 fonts, 3 dirs
/usr/share/fonts/truetype/humor-sans: caching, new cache contents: 1 fonts, 0 dirs
/usr/share/fonts/truetype/liberation: caching, new cache contents: 16 fonts, 0 dirs
/usr/share/fonts/truetype/nanum: caching, new cache contents: 12 fonts, 0 dirs
/usr/local/share/fonts: caching, new cache contents: 0 fonts, 0 dirs
/root/.local/share/fonts: skipping, no such directory
/root/.fonts: skipping, no such directory
/usr/share/fonts/truetype: skipping, looped directory detected
/usr/share/fonts/truetype/humor-sans: skipping, looped directory detected
/usr/share/fonts/truetype/liberation: skipping, looped directory detected
/usr/share/fonts/truetype/nanum: skipping, looped directory detected
/var/cache/fontconfig: cleaning cache directory
/root/.cache/fontconfig: not cleaning non-existent cache directory
/root/.fontconfig: not cleaning non-existent cache directory
fc-cache: succeeded

# 주제 선정 이유
- 유령 도시 : 한국의 고령화사회
- 가구수가 없는 지역
- 65세 이상 노인인구의 비중이 중장년층(20 ~ 39)의 비중보다 큰 경우
- 소멸 위험 지역

## 인구 데이터 확보
- 우리나라 인구수(행정구역별 - 광역시도, 행정구역별 - 시도)
- 국가통계포털(KOSIS)에서 인구 현황 데이터를 다운 받아 사용 : https://kosis.kr/index/index.do
- 성별, 연령 및 세대 구성별 인구 - 시군구를 선택하고, 다시 각 지역별 항목과 필요한 연령대별 항목을 선택해서 데이터를 다운
- 데이터셋 : population_raw_data.xlsx
- 한국고용정보원 논문도 참고

In [14]:
import pandas as pd
import numpy as np

import platform
import matplotlib.pyplot as plt
%matplotlib inline

In [15]:
plt.rc('font', family='NanumGothic')

In [16]:
pop = pd.read_excel('population_raw_data.xlsx', header = 1)
pop.head()

,행정구역(동읍면)별(1),행정구역(동읍면)별(2),항목,계,20 - 24세,25 - 29세,30 - 34세,35 - 39세,65 - 69세,70 - 74세,75 - 79세,80 - 84세,85 - 89세,90 - 94세,95 - 99세,100+
0,전국,소계,총인구수 (명),51696216.0,3541061.0,3217367.0,3517868,4016272.0,2237345.0,1781229.0,1457890,909130.0,416164.0,141488.0,34844,17562.0
1,NaN,NaN,남자인구수 (명),25827594.0,1877127.0,1682988.0,1806754,2045265.0,1072395.0,806680.0,600607,319391.0,113221.0,32695.0,7658,4137.0
2,NaN,NaN,여자인구수 (명),25868622.0,1663934.0,1534379.0,1711114,1971007.0,1164950.0,974549.0,857283,589739.0,302943.0,108793.0,27186,13425.0
3,서울특별시,소계,총인구수 (명),9930616.0,690728.0,751973.0,803507,817467.0,448956.0,350580.0,251961,141649.0,66067.0,24153.0,7058,5475.0
4,NaN,NaN,남자인구수 (명),4876789.0,347534.0,372249.0,402358,410076.0,211568.0,163766.0,112076,54033.0,19595.0,6146.0,1900,1406.0

### 컬럼명 변경

In [17]:
# 결측치를 대체할 때 fillna(method)
# method = 'pad' 결측치를 앞에 있는 값으로 채워라
pop.fillna(method='pad', inplace=True)
pop.head()

,행정구역(동읍면)별(1),행정구역(동읍면)별(2),항목,계,20 - 24세,25 - 29세,30 - 34세,35 - 39세,65 - 69세,70 - 74세,75 - 79세,80 - 84세,85 - 89세,90 - 94세,95 - 99세,100+
0,전국,소계,총인구수 (명),51696216.0,3541061.0,3217367.0,3517868,4016272.0,2237345.0,1781229.0,1457890,909130.0,416164.0,141488.0,34844,17562.0
1,전국,소계,남자인구수 (명),25827594.0,1877127.0,1682988.0,1806754,2045265.0,1072395.0,806680.0,600607,319391.0,113221.0,32695.0,7658,4137.0
2,전국,소계,여자인구수 (명),25868622.0,1663934.0,1534379.0,1711114,1971007.0,1164950.0,974549.0,857283,589739.0,302943.0,108793.0,27186,13425.0
3,서울특별시,소계,총인구수 (명),9930616.0,690728.0,751973.0,803507,817467.0,448956.0,350580.0,251961,141649.0,66067.0,24153.0,7058,5475.0
4,서울특별시,소계,남자인구수 (명),4876789.0,347534.0,372249.0,402358,410076.0,211568.0,163766.0,112076,54033.0,19595.0,6146.0,1900,1406.0

In [18]:
pop.rename(columns={'행정구역(동읍면)별(1)': '광역시도',
                    '행정구역(동읍면)별(2)': '시도',
                    '계':'인구수'}, inplace=True)
pop.head(10)

,광역시도,시도,항목,인구수,20 - 24세,25 - 29세,30 - 34세,35 - 39세,65 - 69세,70 - 74세,75 - 79세,80 - 84세,85 - 89세,90 - 94세,95 - 99세,100+
0,전국,소계,총인구수 (명),51696216.0,3541061.0,3217367.0,3517868,4016272.0,2237345.0,1781229.0,1457890,909130.0,416164.0,141488.0,34844,17562.0
1,전국,소계,남자인구수 (명),25827594.0,1877127.0,1682988.0,1806754,2045265.0,1072395.0,806680.0,600607,319391.0,113221.0,32695.0,7658,4137.0
2,전국,소계,여자인구수 (명),25868622.0,1663934.0,1534379.0,1711114,1971007.0,1164950.0,974549.0,857283,589739.0,302943.0,108793.0,27186,13425.0
3,서울특별시,소계,총인구수 (명),9930616.0,690728.0,751973.0,803507,817467.0,448956.0,350580.0,251961,141649.0,66067.0,24153.0,7058,5475.0
4,서울특별시,소계,남자인구수 (명),4876789.0,347534.0,372249.0,402358,410076.0,211568.0,163766.0,112076,54033.0,19595.0,6146.0,1900,1406.0
5,서울특별시,소계,여자인구수 (명),5053827.0,343194.0,379724.0,401149,407391.0,237388.0,186814.0,139885,87616.0,46472.0,18007.0,5158,4069.0
6,서울특별시,종로구,총인구수 (명),152737.0,11379.0,11891.0,10684,10379.0,7411.0,6636.0,5263,3104.0,1480.0,602.0,234,220.0
7,서울특별시,종로구,남자인구수 (명),75201.0,5620.0,6181.0,5387,5034.0,3411.0,3009.0,2311,1289.0,506.0,207.0,89,73.0
8,서울특별시,종로구,여자인구수 (명),77536.0,5759.0,5710.0,5297,5345.0,4000.0,3627.0,2952,1815.0,974.0,395.0,145,147.0
9,서울특별시,중구,총인구수 (명),125249.0,8216.0,9529.0,10332,10107.0,6399.0,5313.0,4127,2502.0,1260.0,469.0,158,160.0

In [19]:
# '시도' 컬럼에 '소계'라고 써있는 부분을 제외하고 작업
pop = pop[pop['시도'] != '소계']

In [20]:
pop.rename(columns={'항목':'구분'},inplace=True)
pop.head()

<ipython-input-20-49bb7683b15c>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  pop.rename(columns={'항목':'구분'},inplace=True)

,광역시도,시도,구분,인구수,20 - 24세,25 - 29세,30 - 34세,35 - 39세,65 - 69세,70 - 74세,75 - 79세,80 - 84세,85 - 89세,90 - 94세,95 - 99세,100+
6,서울특별시,종로구,총인구수 (명),152737.0,11379.0,11891.0,10684,10379.0,7411.0,6636.0,5263,3104.0,1480.0,602.0,234,220.0
7,서울특별시,종로구,남자인구수 (명),75201.0,5620.0,6181.0,5387,5034.0,3411.0,3009.0,2311,1289.0,506.0,207.0,89,73.0
8,서울특별시,종로구,여자인구수 (명),77536.0,5759.0,5710.0,5297,5345.0,4000.0,3627.0,2952,1815.0,974.0,395.0,145,147.0
9,서울특별시,중구,총인구수 (명),125249.0,8216.0,9529.0,10332,10107.0,6399.0,5313.0,4127,2502.0,1260.0,469.0,158,160.0
10,서울특별시,중구,남자인구수 (명),62204.0,4142.0,4792.0,5192,5221.0,3113.0,2405.0,1752,929.0,414.0,132.0,56,51.0

In [21]:
pop.loc[pop['구분'] == '총인구수 (명)','구분'] = '합계'
pop.loc[pop['구분'] == '남자인구수 (명)','구분'] = '남자'
pop.loc[pop['구분'] == '여자인구수 (명)','구분'] = '여자'

pop

,광역시도,시도,구분,인구수,20 - 24세,25 - 29세,30 - 34세,35 - 39세,65 - 69세,70 - 74세,75 - 79세,80 - 84세,85 - 89세,90 - 94세,95 - 99세,100+
6,서울특별시,종로구,합계,152737.0,11379.0,11891.0,10684,10379.0,7411.0,6636.0,5263,3104.0,1480.0,602.0,234,220.0
7,서울특별시,종로구,남자,75201.0,5620.0,6181.0,5387,5034.0,3411.0,3009.0,2311,1289.0,506.0,207.0,89,73.0
8,서울특별시,종로구,여자,77536.0,5759.0,5710.0,5297,5345.0,4000.0,3627.0,2952,1815.0,974.0,395.0,145,147.0
9,서울특별시,중구,합계,125249.0,8216.0,9529.0,10332,10107.0,6399.0,5313.0,4127,2502.0,1260.0,469.0,158,160.0
10,서울특별시,중구,남자,62204.0,4142.0,4792.0,5192,5221.0,3113.0,2405.0,1752,929.0,414.0,132.0,56,51.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
841,제주특별자치도,제주시,남자,235977.0,17377.0,13118.0,15084,18350.0,8474.0,6782.0,4941,2737.0,854.0,226.0,53,17.0
842,제주특별자치도,제주시,여자,234688.0,15261.0,12245.0,14687,18062.0,9265.0,7877.0,7178,5649.0,3122.0,1387.0,460,137.0
843,제주특별자치도,서귀포시,합계,170932.0,10505.0,8067.0,9120,11606.0,8686.0,7460.0,6456,4521.0,1855.0,733.0,242,77.0
844,제주특별자치도,서귀포시,남자,86568.0,5600.0,4247.0,4693,6082.0,4237.0,3441.0,2611,1494.0,370.0,103.0,29,9.0
845,제주특별자치도,서귀포시,여자,84364.0,4905.0,3820.0,4427,5524.0,4449.0,4019.0,3845,3027.0,1485.0,630.0,213,68.0

In [22]:
pop.shape

(792, 16)

### 인구 소멸 위기 지역을 분류하는 작업
- 20 ~ 39세 파생변수 생성
- 65세이상 파생변수 생성

In [23]:
pop.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 792 entries, 6 to 845
Data columns (total 16 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   광역시도      792 non-null    object
 1   시도        792 non-null    object
 2   구분        792 non-null    object
 3   인구수       792 non-null    float64
 4   20 - 24세  792 non-null    float64
 5   25 - 29세  792 non-null    float64
 6   30 - 34세  792 non-null    int64
 7   35 - 39세  792 non-null    float64
 8   65 - 69세  792 non-null    float64
 9   70 - 74세  792 non-null    float64
 10  75 - 79세  792 non-null    int64
 11  80 - 84세  792 non-null    float64
 12  85 - 89세  792 non-null    float64
 13  90 - 94세  792 non-null    float64
 14  95 - 99세  792 non-null    int64
 15  100+      792 non-null    float64
dtypes: float64(10), int64(3), object(3)
memory usage: 105.2+ KB

In [24]:
pop.columns

Index(['광역시도', '시도', '구분', '인구수', '20 - 24세', '25 - 29세', '30 - 34세',
       '35 - 39세', '65 - 69세', '70 - 74세', '75 - 79세', '80 - 84세', '85 - 89세',
       '90 - 94세', '95 - 99세', '100+'],
      dtype='object')

In [25]:
pop['20-39세'] = pop['20 - 24세'] + pop['25 - 29세'] + pop['30 - 34세'] + pop['35 - 39세']
pop['65세이상'] = pop['65 - 69세'] + pop['70 - 74세'] + pop['75 - 79세'] + pop['80 - 84세'] + \
pop['85 - 89세'] + pop['90 - 94세'] + pop['95 - 99세'] + pop['100+']

pop.head(10)

,광역시도,시도,구분,인구수,20 - 24세,25 - 29세,30 - 34세,35 - 39세,65 - 69세,70 - 74세,75 - 79세,80 - 84세,85 - 89세,90 - 94세,95 - 99세,100+,20-39세,65세이상
6,서울특별시,종로구,합계,152737.0,11379.0,11891.0,10684,10379.0,7411.0,6636.0,5263,3104.0,1480.0,602.0,234,220.0,44333.0,24950.0
7,서울특별시,종로구,남자,75201.0,5620.0,6181.0,5387,5034.0,3411.0,3009.0,2311,1289.0,506.0,207.0,89,73.0,22222.0,10895.0
8,서울특별시,종로구,여자,77536.0,5759.0,5710.0,5297,5345.0,4000.0,3627.0,2952,1815.0,974.0,395.0,145,147.0,22111.0,14055.0
9,서울특별시,중구,합계,125249.0,8216.0,9529.0,10332,10107.0,6399.0,5313.0,4127,2502.0,1260.0,469.0,158,160.0,38184.0,20388.0
10,서울특별시,중구,남자,62204.0,4142.0,4792.0,5192,5221.0,3113.0,2405.0,1752,929.0,414.0,132.0,56,51.0,19347.0,8852.0
11,서울특별시,중구,여자,63045.0,4074.0,4737.0,5140,4886.0,3286.0,2908.0,2375,1573.0,846.0,337.0,102,109.0,18837.0,11536.0
12,서울특별시,용산구,합계,230241.0,14317.0,16972.0,19032,19127.0,10675.0,9093.0,7477,4553.0,2254.0,916.0,264,315.0,69448.0,35547.0
13,서울특별시,용산구,남자,111601.0,6937.0,8373.0,9455,9434.0,4834.0,3975.0,3094,1739.0,750.0,284.0,102,88.0,34199.0,14866.0
14,서울특별시,용산구,여자,118640.0,7380.0,8599.0,9577,9693.0,5841.0,5118.0,4383,2814.0,1504.0,632.0,162,227.0,35249.0,20681.0
15,서울특별시,성동구,합계,299259.0,20813.0,23383.0,25507,25979.0,12938.0,10734.0,7989,4450.0,1944.0,678.0,209,198.0,95682.0,39140.0

**pivot_table**을 이용해서 광역시도, 시도를 index(행), columns은 구분, 데이터는 20~39세, 65세이상, 인구수

In [26]:
pop = pd.pivot_table(pop, index=['광역시도','시도'],
                     columns=['구분'],
                     values=['인구수','20-39세','65세이상'])
pop

            20-39세                        65세이상                         인구수  \
구분              남자        여자        합계       남자       여자       합계        남자
광역시도 시도
강원도  강릉시   26286.0   23098.0   49384.0  15767.0  21912.0  37679.0  106231.0
     고성군    4494.0    2529.0    7023.0   2900.0   4251.0   7151.0   15899.0
     동해시   11511.0    9753.0   21264.0   6392.0   8732.0  15124.0   47166.0
     삼척시    8708.0    7115.0   15823.0   5892.0   8718.0  14610.0   35253.0
     속초시    9956.0    8752.0   18708.0   5139.0   7613.0  12752.0   40288.0
...            ...       ...       ...      ...      ...      ...       ...
충청북도 진천군    9391.0    7622.0   17013.0   4731.0   6575.0  11306.0   36387.0
     청원구   32216.0   27805.0   60021.0   8417.0  11914.0  20331.0   97006.0
     청주시  128318.0  115719.0  244037.0  37882.0  53671.0  91553.0  419323.0
     충주시   26600.0   22757.0   49357.0  14407.0  20383.0  34790.0  104877.0
     흥덕구   40933.0   37675.0   78608.0   9788.0  13671.0  23459.0  127647.0


구분              여자        합계
광역시도 시도
강원도  강릉시  107615.0  213846.0
     고성군   14215.0   30114.0
     동해시   46131.0   93297.0
     삼척시   34346.0   69599.0
     속초시   41505.0   81793.0
...            ...       ...
충청북도 진천군   33563.0   69950.0
     청원구   93807.0  190813.0
     청주시  415874.0  835197.0
     충주시  103473.0  208350.0
     흥덕구  125916.0  253563.0

[264 rows x 9 columns]

In [27]:
pop['소멸비율'] = pop['20-39세','여자'] / (pop['65세이상','합계']/2)
pop.head()

           20-39세                      65세이상                         인구수  \
구분             남자       여자       합계       남자       여자       합계        남자
광역시도 시도
강원도  강릉시  26286.0  23098.0  49384.0  15767.0  21912.0  37679.0  106231.0
     고성군   4494.0   2529.0   7023.0   2900.0   4251.0   7151.0   15899.0
     동해시  11511.0   9753.0  21264.0   6392.0   8732.0  15124.0   47166.0
     삼척시   8708.0   7115.0  15823.0   5892.0   8718.0  14610.0   35253.0
     속초시   9956.0   8752.0  18708.0   5139.0   7613.0  12752.0   40288.0

                                  소멸비율
구분              여자        합계
광역시도 시도
강원도  강릉시  107615.0  213846.0  1.226041
     고성군   14215.0   30114.0  0.707314
     동해시   46131.0   93297.0  1.289738
     삼척시   34346.0   69599.0  0.973990
     속초시   41505.0   81793.0  1.372647

In [28]:
pop['소멸위험지역'] = pop['소멸비율'] < 1.0
pop.head()

           20-39세                      65세이상                         인구수  \
구분             남자       여자       합계       남자       여자       합계        남자
광역시도 시도
강원도  강릉시  26286.0  23098.0  49384.0  15767.0  21912.0  37679.0  106231.0
     고성군   4494.0   2529.0   7023.0   2900.0   4251.0   7151.0   15899.0
     동해시  11511.0   9753.0  21264.0   6392.0   8732.0  15124.0   47166.0
     삼척시   8708.0   7115.0  15823.0   5892.0   8718.0  14610.0   35253.0
     속초시   9956.0   8752.0  18708.0   5139.0   7613.0  12752.0   40288.0

                                  소멸비율 소멸위험지역
구분              여자        합계
광역시도 시도
강원도  강릉시  107615.0  213846.0  1.226041  False
     고성군   14215.0   30114.0  0.707314   True
     동해시   46131.0   93297.0  1.289738  False
     삼척시   34346.0   69599.0  0.973990   True
     속초시   41505.0   81793.0  1.372647  False

- Question 소멸위험지역만 추출하시오.

In [29]:
pop.index

MultiIndex([( '강원도', '강릉시'),
            ( '강원도', '고성군'),
            ( '강원도', '동해시'),
            ( '강원도', '삼척시'),
            ( '강원도', '속초시'),
            ( '강원도', '양구군'),
            ( '강원도', '양양군'),
            ( '강원도', '영월군'),
            ( '강원도', '원주시'),
            ( '강원도', '인제군'),
            ...
            ('충청북도', '영동군'),
            ('충청북도', '옥천군'),
            ('충청북도', '음성군'),
            ('충청북도', '제천시'),
            ('충청북도', '증평군'),
            ('충청북도', '진천군'),
            ('충청북도', '청원구'),
            ('충청북도', '청주시'),
            ('충청북도', '충주시'),
            ('충청북도', '흥덕구')],
           names=['광역시도', '시도'], length=264)

In [30]:
pop.index.get_level_values(1)

Index(['강릉시', '고성군', '동해시', '삼척시', '속초시', '양구군', '양양군', '영월군', '원주시', '인제군',
       ...
       '영동군', '옥천군', '음성군', '제천시', '증평군', '진천군', '청원구', '청주시', '충주시', '흥덕구'],
      dtype='object', name='시도', length=264)

In [31]:
pop.index.get_level_values(0)

Index(['강원도', '강원도', '강원도', '강원도', '강원도', '강원도', '강원도', '강원도', '강원도', '강원도',
       ...
       '충청북도', '충청북도', '충청북도', '충청북도', '충청북도', '충청북도', '충청북도', '충청북도', '충청북도',
       '충청북도'],
      dtype='object', name='광역시도', length=264)

In [32]:
pop[pop['소멸위험지역'] == True].index.get_level_values(1)

Index(['고성군', '삼척시', '양양군', '영월군', '정선군', '평창군', '홍천군', '횡성군', '가평군', '양평군',
       '연천군', '거창군', '고성군', '남해군', '밀양시', '산청군', '의령군', '창녕군', '하동군', '함안군',
       '함양군', '합천군', '고령군', '군위군', '문경시', '봉화군', '상주시', '성주군', '영덕군', '영양군',
       '영주시', '영천시', '예천군', '울릉군', '울진군', '의성군', '청도군', '청송군', '동구', '영도구',
       '강화군', '옹진군', '강진군', '고흥군', '곡성군', '구례군', '담양군', '보성군', '신안군', '영광군',
       '영암군', '완도군', '장성군', '장흥군', '진도군', '함평군', '해남군', '화순군', '고창군', '김제시',
       '남원시', '무주군', '부안군', '순창군', '임실군', '장수군', '정읍시', '진안군', '공주시', '금산군',
       '논산시', '보령시', '부여군', '서천군', '예산군', '청양군', '태안군', '홍성군', '괴산군', '단양군',
       '보은군', '영동군', '옥천군'],
      dtype='object', name='시도')

In [33]:
type(pop)

pandas.core.frame.DataFrame

In [34]:
pop.head()

           20-39세                      65세이상                         인구수  \
구분             남자       여자       합계       남자       여자       합계        남자
광역시도 시도
강원도  강릉시  26286.0  23098.0  49384.0  15767.0  21912.0  37679.0  106231.0
     고성군   4494.0   2529.0   7023.0   2900.0   4251.0   7151.0   15899.0
     동해시  11511.0   9753.0  21264.0   6392.0   8732.0  15124.0   47166.0
     삼척시   8708.0   7115.0  15823.0   5892.0   8718.0  14610.0   35253.0
     속초시   9956.0   8752.0  18708.0   5139.0   7613.0  12752.0   40288.0

                                  소멸비율 소멸위험지역
구분              여자        합계
광역시도 시도
강원도  강릉시  107615.0  213846.0  1.226041  False
     고성군   14215.0   30114.0  0.707314   True
     동해시   46131.0   93297.0  1.289738  False
     삼척시   34346.0   69599.0  0.973990   True
     속초시   41505.0   81793.0  1.372647  False

In [36]:
# reset_Index()를 사용해서 기존의 행 인덱스는 컬럼명으로 추가되고 새로운 행 인덱스가 생성된다.
pop.reset_index(inplace=True)
pop.head()

   광역시도   시도   20-39세                      65세이상                         인구수  \
구분                 남자       여자       합계       남자       여자       합계        남자
0   강원도  강릉시  26286.0  23098.0  49384.0  15767.0  21912.0  37679.0  106231.0
1   강원도  고성군   4494.0   2529.0   7023.0   2900.0   4251.0   7151.0   15899.0
2   강원도  동해시  11511.0   9753.0  21264.0   6392.0   8732.0  15124.0   47166.0
3   강원도  삼척시   8708.0   7115.0  15823.0   5892.0   8718.0  14610.0   35253.0
4   강원도  속초시   9956.0   8752.0  18708.0   5139.0   7613.0  12752.0   40288.0

                            소멸비율 소멸위험지역
구분        여자        합계
0   107615.0  213846.0  1.226041  False
1    14215.0   30114.0  0.707314   True
2    46131.0   93297.0  1.289738  False
3    34346.0   69599.0  0.973990   True
4    41505.0   81793.0  1.372647  False

In [37]:
pop.columns

MultiIndex([(  '광역시도',   ''),
            (    '시도',   ''),
            ('20-39세', '남자'),
            ('20-39세', '여자'),
            ('20-39세', '합계'),
            ( '65세이상', '남자'),
            ( '65세이상', '여자'),
            ( '65세이상', '합계'),
            (   '인구수', '남자'),
            (   '인구수', '여자'),
            (   '인구수', '합계'),
            (  '소멸비율',   ''),
            ('소멸위험지역',   '')],
           names=[None, '구분'])

In [38]:
pop.columns.get_level_values(0)

Index(['광역시도', '시도', '20-39세', '20-39세', '20-39세', '65세이상', '65세이상', '65세이상',
       '인구수', '인구수', '인구수', '소멸비율', '소멸위험지역'],
      dtype='object')

In [40]:
len(pop.columns.get_level_values(0))

13

In [39]:
pop.columns.get_level_values(1)

Index(['', '', '남자', '여자', '합계', '남자', '여자', '합계', '남자', '여자', '합계', '', ''], dtype='object', name='구분')

In [41]:
#  Multi column index는 단일 index로
temp = []
for n in range(0, len(pop.columns.get_level_values(0))):
  temp.append(pop.columns.get_level_values(0)[n] + pop.columns.get_level_values(1)[n])
print(temp)

['광역시도', '시도', '20-39세남자', '20-39세여자', '20-39세합계', '65세이상남자', '65세이상여자', '65세이상합계', '인구수남자', '인구수여자', '인구수합계', '소멸비율', '소멸위험지역']

In [42]:
pop.columns = temp
pop.head()

,광역시도,시도,20-39세남자,20-39세여자,20-39세합계,65세이상남자,65세이상여자,65세이상합계,인구수남자,인구수여자,인구수합계,소멸비율,소멸위험지역
0,강원도,강릉시,26286.0,23098.0,49384.0,15767.0,21912.0,37679.0,106231.0,107615.0,213846.0,1.226041,False
1,강원도,고성군,4494.0,2529.0,7023.0,2900.0,4251.0,7151.0,15899.0,14215.0,30114.0,0.707314,True
2,강원도,동해시,11511.0,9753.0,21264.0,6392.0,8732.0,15124.0,47166.0,46131.0,93297.0,1.289738,False
3,강원도,삼척시,8708.0,7115.0,15823.0,5892.0,8718.0,14610.0,35253.0,34346.0,69599.0,0.973990,True
4,강원도,속초시,9956.0,8752.0,18708.0,5139.0,7613.0,12752.0,40288.0,41505.0,81793.0,1.372647,False

In [43]:
pop.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 264 entries, 0 to 263
Data columns (total 13 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   광역시도      264 non-null    object
 1   시도        264 non-null    object
 2   20-39세남자  264 non-null    float64
 3   20-39세여자  264 non-null    float64
 4   20-39세합계  264 non-null    float64
 5   65세이상남자   264 non-null    float64
 6   65세이상여자   264 non-null    float64
 7   65세이상합계   264 non-null    float64
 8   인구수남자     264 non-null    float64
 9   인구수여자     264 non-null    float64
 10  인구수합계     264 non-null    float64
 11  소멸비율      264 non-null    float64
 12  소멸위험지역    264 non-null    bool
dtypes: bool(1), float64(10), object(2)
memory usage: 25.1+ KB

In [45]:
pop['광역시도'].unique()

array(['강원도', '경기도', '경상남도', '경상북도', '광주광역시', '대구광역시', '대전광역시', '부산광역시',
       '서울특별시', '세종특별자치시', '울산광역시', '인천광역시', '전라남도', '전라북도', '제주특별자치도',
       '충청남도', '충청북도'], dtype=object)

In [50]:
pop['시도'].unique()

array(['강릉시', '고성군', '동해시', '삼척시', '속초시', '양구군', '양양군', '영월군', '원주시',
       '인제군', '정선군', '철원군', '춘천시', '태백시', '평창군', '홍천군', '화천군', '횡성군',
       '가평군', '고양시', '과천시', '광명시', '광주시', '구리시', '군포시', '권선구', '기흥구',
       '김포시', '남양주시', '단원구', '덕양구', '동두천시', '동안구', '만안구', '부천시', '분당구',
       '상록구', '성남시', '소사구', '수원시', '수정구', '수지구', '시흥시', '안산시', '안성시',
       '안양시', '양주시', '양평군', '여주시', '연천군', '영통구', '오산시', '오정구', '용인시',
       '원미구', '의왕시', '의정부시', '이천시', '일산동구', '일산서구', '장안구', '중원구', '처인구',
       '파주시', '팔달구', '평택시', '포천시', '하남시', '화성시', '거제시', '거창군', '김해시',
       '남해군', '마산합포구', '마산회원구', '밀양시', '사천시', '산청군', '성산구', '양산시', '의령군',
       '의창구', '진주시', '진해구', '창녕군', '창원시', '통영시', '하동군', '함안군', '함양군',
       '합천군', '경산시', '경주시', '고령군', '구미시', '군위군', '김천시', '남구', '문경시',
       '봉화군', '북구', '상주시', '성주군', '안동시', '영덕군', '영양군', '영주시', '영천시',
       '예천군', '울릉군', '울진군', '의성군', '청도군', '청송군', '칠곡군', '포항시', '광산구',
       '동구', '서구', '달서구', '달성군', '수성구', '중구', '대덕구', '유성구', '강서구', '금정구',
       '기장군', '동래구', '부산진구', '사상구', '사하구', '수영구', '연제구', '영도구', '해운대구',
       '강남구', '강동구', '강북구', '관악구', '광진구', '구로구', '금천구', '노원구', '도봉구',
       '동대문구', '동작구', '마포구', '서대문구', '서초구', '성동구', '성북구', '송파구', '양천구',
       '영등포구', '용산구', '은평구', '종로구', '중랑구', '세종특별자치시', '울주군', '강화군', '계양구',
       '남동구', '부평구', '연수구', '옹진군', '강진군', '고흥군', '곡성군', '광양시', '구례군',
       '나주시', '담양군', '목포시', '무안군', '보성군', '순천시', '신안군', '여수시', '영광군',
       '영암군', '완도군', '장성군', '장흥군', '진도군', '함평군', '해남군', '화순군', '고창군',
       '군산시', '김제시', '남원시', '덕진구', '무주군', '부안군', '순창군', '완산구', '완주군',
       '익산시', '임실군', '장수군', '전주시', '정읍시', '진안군', '서귀포시', '제주시', '계룡시',
       '공주시', '금산군', '논산시', '당진시', '동남구', '보령시', '부여군', '서북구', '서산시',
       '서천군', '아산시', '예산군', '천안시', '청양군', '태안군', '홍성군', '괴산군', '단양군',
       '보은군', '상당구', '서원구', '영동군', '옥천군', '음성군', '제천시', '증평군', '진천군',
       '청원구', '청주시', '충주시', '흥덕구'], dtype=object)

- '시도' 컬럼에 마지막 글자가 '구'에 해당하는 행을 제거한다.

In [47]:
pop['시도'][25][-1] =='구'

True

In [59]:
pop['시도'][3][-1]

'시'

In [ ]:
# 조건에 만족하는 행을 삭제할 경우 행조건.index : df[].index
# axis = 0이면 행, axis =1이면 열 지정
pop.drop(조건, inplace=True)

# 지도 시각화를 위한 지역별 고유 식별값이 필요

- '광역시도' 컬럼에서 <광역시>,<특별시>,<자치시>로 끝나지 않으면 일반 시 혹은 군으로 처리
- 지명이 같은 지역이 있다. <예 - 강원도와 경상남도에 고성군> 고성(경남), 고성(강원)
- 고유id = 광역시도 컬럼의 앞두글자 + 시도 컬럼의 앞 두글자, 만약 시도 컬럼이 두 글자인 경우 모두 선택
- 세종특별자치시 = 세종
- 광역시가 아니면서 구를 가지고 있는 시들의 행정구를 처리해줄 필요가 있다.

In [60]:
# 시(city)이름을 담을 리스트 생성
city_names = [] * len(pop)

tmp = {
    '수원':['장안구','권선구','팔달구','영통구'],
    '성남':['수정구','중원구','분당구'],
    '안양':['만안구','동안구'],
    '안산':['상록구','단원구'],
    '고양':['덕양구','일산동구','일산서구'],
    '용인':['처인구','기흥구','수지구'],
    '청주':['상당구','사원구','흥덕구','청원구'],
    '천안':['동남구','서북구'],
    '전주':['완산구','덕진구'],
    '포항':['남구','북구'],
    '창원':['의창구','성산구','진해구','마산합포구','마산회원구'],
    '부천':['오정구','원미구','소사구']
}

In [61]:
pop.index

RangeIndex(start=0, stop=264, step=1)

In [ ]:
for n in pop.index:
  # 광역시도 컬럼에 있는 이름 뒤에 세글자가 '광역시','특별시','자치시'로 끝나지 않으면 일반 시 또는 군으로 처리
  if pop['광역시도'][n][-3:] not in ['광역시','특별시','자치시']:
   # '강원도 고성군'과 '경상남도 고성군'을 구분해서 처리하는 작업이 필요
    if pop['시도'][n][:-1] == '고성' and pop['광역시도'][n] == '강원도':
      city_names[n] = '강원 고성'
    elif pop['시도'][n][:-1] == '고성' and pop['광역시도'][n] == '경상남도':
      city_names[n] = '경남 고성'
    else:
      # 같은 이름을 가지고 있지 않은 지역일 경우
      city_names[n] = pop['시도'][n][:-1] # 군 , 구 , 시를 제외한 글자

      for key, values in tmp.items():
        if pop['시도'][n] in values:
          if len(pop['시도'][n]) == 2:
            city_names[n] = key + ' ' + pop['시도'][n]
          elif

  elif pop['광역시도'][n] == '세종특별자치시':
    city_names[n] = '세종'

  else:
    if len(pop['시도'][n]) == 2:
      city_names[n] = pop['광역시도'][n][:2] + ' '+ pop['시도'][n]
    else:
      city_names[n] = pop['광역시도'][n][:2] + ' '+ pop['시도'][n][:-1]